.hidden {
    width: 1px;
    height: 1px;
    overflow: hidden; 
    position: absolute;
    left: -9999px;
}

/* .ol {
    outline: 1px solid #f00; 
} */

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15px;
}
.center {
    text-align: center;
}
.cList {
    text-align: center;
    font-size: 0;
}
.cList > li {
    font-size: 1rem;
    display: inline-block;
}
/* .section {
    height: 100vh;
    display: table;
    width: 100%;
}

.section .inner {
    display: table-cell;
    vertical-align: middle;
}
.fList > li {
    float: left;
}
.clearFix:after , .fList:after {
    content: "";
    display: block;
    clear: both;
} */